
.swiper{
    margin: 100px auto;
    width: 100%;
}

.project{
    display: flex;
    flex-direction: row;
    gap: 0px 40px;
    width: 90%;
    height: 100%;
}

.projectInfo{
    width: 30%;
    height: 800px;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: space-between;
}

.projectTitle{
    margin-bottom: 40px;
}

.projectInfoTop ul li{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.projectInfoTop ul li:nth-child(even){
    margin: 0px 10px;
}


.projectInfoTop ul li:nth-child(2)::before{
    content: '▪';
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.projectDescription{
    margin-top: 60px;
}

.projectDescription a{
    text-decoration: underline;
}

.btn{
    display:block;
    align-self: center;
}

.project .projectImg{
    width: 70%;
    height: 800px;
    position: relative;
    display: flex;
    background-color: var(--main-green);
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.image{
    border-top: 4px solid var(--white);
    border-left: 4px solid var(--white);
    border-right: 4px solid var(--white);
    width: 90%;
    height: 90%;
}

.img{
    width: 100%;
}

@media screen and (max-width: 960px){
    
    .project{
        display: flex;
        flex-direction: column;
        gap: 40px 0px;
        width: 100%;
    }

    .projectInfo{
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction:column;
        align-items: flex-start;
    }

    .projectTitle{
        margin-bottom: 40px;
    }

    .projectInfoTop ul li:nth-child(2)::before{
        content: '';
        margin-right: 0px;
    }

    .projectInfoTop ul li:nth-child(even){
        margin: 6px 0;
    }

    .projectDescription{
        margin-top: 40px;
    }

    .project .projectImg{
        width: 90%;
        height: 400px;
    }
  
}

@media screen and (max-width: 600px){

    .swiper{
        margin: 60px auto;
    }

    .project{
        display: flex;
        flex-direction: column;
        gap: 40px 0px;
        width: 100%;
    }

    .projectInfo{
        width: 80%;
        height: 300px;
        display: flex;
        flex-direction:column;
        align-items: flex-start;
    }

    .projectTitle{
        margin-bottom: 40px;
    }

    .projectInfoTop ul li:nth-child(2)::before{
        content: '';
        margin-right: 0px;
    }

    .projectInfoTop ul li:nth-child(even){
        margin: 6px 0;
    }

    .projectDescription{
        margin-top: 40px;
    }

    .project .projectImg{
        width: 80%;
        height: 200px;
    }
}