@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

:root{
  --main-black: #0B0B0B;
  --main-green: #007474;
  --white: #FFFFFF;
  --off-white: #f6f6f6;
  --available: #37EC9C;
  --not-available: #EC3737;
  padding:0;
  margin:0;
}

@font-face {
  font-family: 'george-x-regular';
  src: url('../assests/fonts/george-x-regular.woff');
}

@font-face {
  font-family: 'ogg';
  src: url('../assests/fonts/ogg.woff2');
}

*{
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  background: var(--main-black);
  color: var(--off-white);
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  scroll-behavior: smooth;
}

p {
  line-height:150%;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'george-x-regular';
  color: var(--white);
}

h1{
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  font-size: 80px;
}

h2{
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  line-height: 100%;
}

h3{
  font-style: normal;
  font-size: 100px;
  font-weight: 400;
  line-height: 100%;
}

h4{
  font-style: normal;
  font-size: 120px;
  font-weight: 400;
  text-align: center;
  line-height: 100%;
  text-transform: capitalize;
  letter-spacing: -1px;
}

a {
  color: var(--white);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container{
  width:90%;
  max-width:1720px;
}



@media screen and (max-width: 960px){

  html,
  body {
    font-size: 16px;
  }

  h1{
    font-size: 50px;
  }
}

@media screen and (max-width: 600px){
  html,
  body {
    font-size: 14px;
  }

  h1{
    font-size: 40px;
  }
  h2{
    font-size: 40px;
  }
  
}